.container {
  text-align: center;
  background-color: #f092f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.click-button {
  background-color: #c808f9;
  width: 500px;
  height: 200px;
  font-size: 50px;
  color: white;
  border-radius: 30px;
}

.start-button {
  background-color: #c808f9;
  width: 300px;
  height: 100px;
  font-size: 50px;
  color: white;
  border-radius: 30px;
}

.reset-button {
  background-color: #c808f9;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 30px;
}

.text {
  font-size: 50px;
}
